@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';
@import '../../scss/animations.scss';

.header-style{
    background-image: url('/assets/head.jpg');
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-size: cover;
    border-bottom:solid 2px $social;
    
    .yo{
        border-radius: 100%;
        box-shadow: 2px 2px 24px 4px white;
    }
    
    .hola{
        color: $white;
        position: relative;
        font-weight: bold;
        font-size: 3rem;
        font-family: $exo;
        margin-bottom: 30px;

    }

    .title{
        color: $white;
        position: relative;
        font-weight: bold;
        font-size: 3rem;
        font-family: $exo;
    }
}
