
<div class="container mx-auto mt-10">
    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px">
            <li class="me-2">
                <button class="px-4 py-2 mr-2 text-black" (click)="selectTab(1)" [ngClass]="{ 'bg-gray-500' : selectedTab === 1, 'text-white': selectedTab === 1, 'rounded-t-lg': selectedTab === 1 }">General</button>
            </li>
            <li class="me-2">
                <button class="px-4 py-2 mr-2 text-black" (click)="selectTab(2)" [ngClass]="{ 'bg-gray-500' : selectedTab === 2, 'text-white': selectedTab === 2, 'rounded-t-lg': selectedTab === 2 }">Galería</button>
            </li>
        </ul>
    </div>  
    <div class="mt-6">
      <div *ngIf="selectedTab === 1">
        <form class="mt-4" [formGroup]="projectform">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-4">
                      <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Título</label>
                      <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                          <input type="text" formControlName="title" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-4">
                      <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Descripción</label>
                      <div class="mt-2">
                        <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                          <input type="text" formControlName="description" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6" *ngIf="skills">
                    <div class="sm:col-span-4">
                      <label for="skills" class="block text-sm font-medium leading-6 text-gray-900">Habilidades</label>
                      <div class="mt-2">
                        <app-select-multiple #selectMultiple [data]="skills"></app-select-multiple>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="mt-6 flex items-center justify-end gap-x-6">
                <app-save-button #saveButton class="text-white font-bold rounded-full transition duration-300 ease-in-out" type="submit" text="Guardar" [isLoading]="isLoading" (action)="clickButton()" />
            </div>
        </form>
      </div>
      <div *ngIf="selectedTab === 2">
        <!-- Contenido de la pestaña 2 -->
        <!-- <section class="container mt-20 w-1/2 mb-20"> -->
          <h1 class="font-sans font-bold text-2xl text-white mb-4">Proyectos</h1>
          <button type="button" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-100" (click)="fileupload()">Update Image</button>
          <input class="hidden" type="file" (change)="updatefile($event)" id="upload" />
          <div class="container grid grid-cols-2 md:grid-cols-4 gap-4 mt-20 mb-20" id="proyectos">
            <div *ngFor="let group of chunkedImages" class="grid gap-4">
              <div *ngFor="let image of group">
                <img class="h-auto max-w-full rounded-lg" [src]="image" alt="">
              </div>
            </div>
          </div>
        <!-- </section>   -->
      </div>
    </div>
  </div>
