 
  .center-container {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url('/assets/fondologin.jpg') !important;
  }
    
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .content-login{
    min-width:150%;
    min-height: auto;
  }