<section class="text-white py-20 relative overflow-hidden z-10" id="contacto">
  <div class="container mx-auto text-center relative z-10">
    <!-- Contenido de la sección aquí -->

    <div class="mb-6 pt-10">
      <!-- Información de contacto aquí -->
      <h2 class="text-3xl font-bold mb-4">Contacto</h2>
      <p class="text-lg"><a href="mailto:jorditn84@hotmail.com" class="text-white">jorditn84@hotmail.com</a></p>
      <p class="text-lg"><a href="https://www.linkedin.com/in/jordi-turell-nebot/" target="_blank" rel="noopener noreferrer" class="text-white">LinkedIn</a></p>
      <p class="text-lg"><a href="https://github.com/JordiTurell" target="_blank" rel="noopener noreferrer" class="text-white">Github</a></p>
    </div>
  </div>

  <!-- Triángulo superior en diagonal -->
  <div class="absolute top-0 right-0 w-full h-full transform origin-top-left skew-y-3 bg-black"></div>
</section>
