@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Exo+2:wght@500&family=Poppins&display=swap');

$comforta: 'Comfortaa', cursive;
$exo: 'Exo 2', sans-serif;
$Poppins: 'Poppins', sans-seri