<form [formGroup]="sobremiform" (ngSubmit)="onSubmit()">
    <input formControlName="id" type="hidden" />
    <div class="h-auto">
      <label class="font-sans font-bold">Título*</label>
      <input formControlName="title" class="border border-gray-300 bg-white p-2 rounded-md w-full mb-3" />
    </div>
    <div class="h-auto">
      <label class="font-sans font-bold">Descripción*</label>
      <textarea rows="20" formControlName="descripcion" class="border border-gray-300 bg-white p-2 rounded-md w-full mb-3"></textarea>
    </div>
    <div class="form-group center">
      <app-save-button #saveButton class="text-white font-bold rounded-full transition duration-300 ease-in-out" type="submit" text="Guardar" [isLoading]="isLoading" (action)="clickButton()" />
    </div>
</form>
