@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';
@import '../../scss/animations.scss';

nav{
    margin:0 auto;
    top: 0px;
    left: 0px;
    background-color: $transparentnav;
    width:100vw;
    padding: 0px;
    z-index:100;
    ul#menu{
        width: 99vw;
    }

    .nav-icon{
        position:absolute;
        top:-110px;
        left: 10px;
        margin: 0 auto;
        z-index: 1;
    }

    .nav-icon.nav-icon-animated{
        animation: naviconanimated 4s forwards;
    }


    .nav-link{
        padding:25px 25px 0px 25px;
        color:$white;
        transform: skew(20deg);
        transform-origin: top left;
        border-bottom:solid 5px $white;
        margin-left:5px;
        box-shadow:0px 10px 5px $transparentnav;
        text-align: center;
        margin-top: -110px;
        margin-bottom: 110px;
        span{
            font-family: $exo;
            font-size: 20px;
            display: block;
            margin-top: 10px;
            transform: skew(-20deg);
            transform-origin: top left;
        }
    }

    .navlinkanimated{
        animation: navlinksanimated 1s ease forwards;
    }
    
    .nav-link:hover{
        background-color:$transparentnavhover;
        box-shadow:0px 10px 5px $transparentnavhover;
    }
    
    .nav-link.active{
        background: linear-gradient(to bottom, $red, $orange);
        box-shadow:0px 10px 5px $orange;
    }
    .nav-link.active:hover{
        background: linear-gradient(to bottom, $redhover, $orangehover);
        box-shadow:0px 10px 5px $orangehover;
    }
    
}