<!-- app.component.html -->
<nav class="bg-gray-800 fixed">
    <div class="mx-auto max-w-full px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden" (click)="toggleMenu()">
          <!-- Mobile menu button-->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a class="navbar-brand d-flex justify-content-start" [routerLink]="['/home']">
                <img src="/assets/argproglogo.png" class="nav-icon" />
            </a>
          </div>
          <div class="hidden sm:ml-6 sm:block w-full">
            <div class="flex space-x-4 justify-center">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="home#inicio" class="nav-link nav-item active navlinkanimated text-sm font-medium" aria-current="page">Inicio</a>
              <a href="#sobremi" class="nav-link nav-item navlinkanimated text-sm font-medium">Sopbre mí</a>
              <a href="#habilidades" class="nav-link nav-item navlinkanimated text-sm font-medium">Habilidades</a>
              <a href="#proyectos" class="nav-link nav-item navlinkanimated text-sm font-medium">Proyectos</a>
              <a href="home#contacto" class="nav-link nav-item navlinkanimated text-sm font-medium">Contacto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu" [class.hidden]="!istoggle">
      <div class="space-y-1 px-2 pb-3 pt-2" id="menu">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a routerLink="#inicio" class="block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Inicio</a>
        <a routerLink="#sobremi" class="block rounded-md px-3 py-2 text-base font-medium">Sobre mí</a>
        <a routerLink="#habilidades" class="block rounded-md px-3 py-2 text-base font-medium">Habilidades</a>
        <a routerLink="#proyectos" class="block rounded-md px-3 py-2 text-base font-medium">Proyectos</a>
        <a routerLink="#contacto" class="block rounded-md px-3 py-2 text-base font-medium">Contacto</a>
      </div>
    </div>
  </nav>
  




<!-- Barra de Navegación -->
<!-- <nav class="navbar navbar-expand-md navbar-fixed-top">
    <div class="d-flex justify-content-center">
        
        <a class="navbar-brand d-flex justify-content-start" [routerLink]="['/home']">
            <img src="/assets/argproglogo.png" class="nav-icon" />
        </a>
        
        <button class="hamburger-icon" (click)="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>


        <ul class="navbar-nav mx-auto d-flex" id="menu">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span class="text-nobreak mt-2 mt-lg-auto ms-2 mx-lg-auto mb-1 mb-lg-0">Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sobremi">
                    <span class="text-nobreak mt-2 mt-lg-auto ms-2 mx-lg-auto mb-1 mb-lg-0">Acerca</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="text-nobreak mt-2 mt-lg-auto ms-2 mx-lg-auto mb-1 mb-lg-0">Habilidades</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="text-nobreak mt-2 mt-lg-auto ms-2 mx-lg-auto mb-1 mb-lg-0">Proyectos</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="text-nobreak mt-2 mt-lg-auto ms-2 mx-lg-auto mb-1 mb-lg-0">Contacto</span>
            </a>
          </li>
        </ul>
    </div>
  </nav> -->